body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#espacio_de_juego {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#tablero {
    height: 380px;
    width: 530px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.caja {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Kalam';
    font-size: 74px;
    font-weight: 400;
}

#x, #o {
    font-family: 'Kalam';
    font-size: 20px;
}

.cero {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
} 

.uno {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

.dos {
    border-bottom: solid 2px black;
}

.tres {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
} 

.cuatro {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

.cinco {
    border-bottom: solid 2px black;
}

.seis {
    border-right: solid 2px black;
} 

.siete {
    border-right: solid 2px black;
}