body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #293c50;
}

h1 {
    margin-top: 10px;
    font-size: 60px;
    color: #49EA13;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#espacio_de_juego {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#tablero {
    height: 380px;
    min-height:  min-content;
    width: 460px;
    min-width: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    caret-color: transparent;
}

.caja {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Kalam';
    font-size: 74px;
    font-weight: 400;
}

#primer_jugador {
    color: rgb(252, 166, 6);
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#segundo_jugador {
    color: #FFF3EB;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#x, #o {
    font-family: 'Kalam';
    font-size: 36px;
}

.cero {
    border-bottom: solid 4px #FF4636;
    border-right: solid 4px #FF4636;
} 

.uno {
    border-bottom: solid 4px #FF4636;
    border-right: solid 4px #FF4636;
    border-left: solid 4px #FF4636;
}

.dos {
    border-bottom: solid 4px #FF4636;
    border-left: solid 4px #FF4636;
}

.tres {
    border-top: solid 4px #FF4636;
    border-bottom: solid 4px #FF4636;
    border-right: solid 4px #FF4636;
} 

.cuatro {
    border: solid 4px #FF4636;
}

.cinco {
    border-top: solid 4px #FF4636;
    border-bottom: solid 4px #FF4636;
    border-left: solid 4px #FF4636;
}

.seis {
    border-right: solid 4px #FF4636;
    border-top: solid 4px #FF4636;
} 

.siete {
    border-right: solid 4px #FF4636;
    border-left: solid 4px #FF4636;
    border-top: solid 4px #FF4636;
}

.ocho {
    border-left: solid 4px #FF4636;
    border-top: solid 4px #FF4636;
}

footer {
    margin-top: 30px;
    display: flex;
    color: #49EA13;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #ffa9a5;
    margin-left: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    filter: drop-shadow(1px -2px 2px #FF4636);
}

img {
    margin-left: 8px;
}